<launch>
  <!-- You can overwrite these arguments from the commmand line. -->

  <!-- URDF parameter. -->
  <arg name="model" default="$(find gazebodemos)/urdf/seveneffort.urdf"/>

  <!-- The control parameters, stored in the YAML file.  -->
  <arg name="control_parameters"
       default="$(find gazebodemos)/config/sevenbot_control_parameters.yaml"/>

  <!-- These are arguments for Gazebo. -->
  <arg name="paused"     default="true"/>
  <!--
  <arg name="world_name" default="$(find gazebodemos)/worlds/stuff.world"/>
  <arg name="world_name" default="$(find gazebodemos)/worlds/slowtime.world"/>
  <arg name="world_name" default="$(find gazebodemos)/worlds/realtime.world"/>
  -->
  <arg name="world_name" default="$(find gazebodemos)/worlds/slowtime.world"/>


  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" textfile="$(arg model)"/>

  <!-- Load the controller parameters -->
  <rosparam command="load" file="$(arg control_parameters)"/>


  <!-- Launch Gazebo with the given world. -->
  <!-- We use the empty world launch file to set other defaults. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(arg world_name)"/>
    <arg name="paused"       value="$(arg paused)"/>
    <arg name="gui"          value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless"     value="false"/>
    <arg name="debug"        value="false"/>
  </include>

  <!-- Service call to gazebo_ros to spawn a URDF robot -->
  <node pkg="gazebo_ros"
	type="spawn_model"
	name="robot_spawner"
	respawn="false"
	output="screen"
	args="-urdf -model sevenbot -param robot_description"/>

  <!-- Service call to gazebo_ros to spawn a beer can model -->
  <node pkg="gazebo_ros"
	type="spawn_model"
	name="beer_spawner"
	respawn="false"
	output="screen"
	args="-sdf -model beercan -database beer -x 0.0 -y 0.5 -z 0"/>

  <!-- Service call to gazebo_ros to spawn a tetherball model -->
  <node pkg="gazebo_ros"
	type="spawn_model"
	name="tehterball_spawner"
	respawn="false"
	output="screen"
	args="-sdf -model tetherball -file $(find gazebodemos)/models/tetherball/model.sdf -x -0.2 -y 0.5 -z 1.2"/>


  <!-- Load the controllers. -->
  <node pkg="controller_manager"
	type="spawner"
	name="controller_spawner"
	respawn="false"
	output="screen"
	ns="/sevenbot"
	args="joint_state_publisher joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller joint5_position_controller joint6_position_controller joint7_position_controller"/>
</launch>
